{% extends 'admin.html.twig' %}
{% block page_title %}
    {{ pageTitle.classname }}
{% endblock %}
{% block page_subtitle %}
    list
{% endblock %}
{% block page_content %}
    <div id="form">

    </div>
    <div class="box">
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        {% for field in fields %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                        <th style="width: 95px">Actions</th>
                    </tr>
                    {% for entity in entities %}
                        <tr>
                            {% for field in fields %}
                                <th>{{ attribute(entity, field.fieldName) }}</th>
                            {% endfor %}
                            <th>
                                <button class="btn btn-default entity-edit" data-entity-id="{{ entity.id }}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                <button class="btn btn-danger entity-delete" data-entity-id="{{ entity.id }}"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Удаление записи!</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_inline %}
    <script>
        $.ajax({
            url:'new',
            success: function (data) {
                $('#form').html(data);
            }
        });
        $('#form form').on("submit", 'form', function(e){
            e.preventDefault();
            var form = $(this);
            var formData = new FormData(form);
            console.log(form);
            console.log(formData);
            var xhr = new XMLHttpRequest();
            xhr.open(form.getAttribute('method'), $(this).attr('action'));

            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    if(xhr.status == 200) {
                        form.html(data);
                        location.reload();
                    }
                }
            };
            xhr.send(formData);
        });

        $('.entity-edit').click(function (e) {
            var $entityId = $(this).data('entity-id');

            $.ajax({
                url:'edit/'+$entityId,
                method: "GET",
                success: function (data) {
                    $('#form').html(data);
                }
            });
        });
        $('.entity-delete').click(function (e) {
            var $entityId = $(this).data('entity-id');
            $.ajax({
                url:'delete/'+$entityId,
                method: "GET",
                success: function (data) {
                    $('#deleteModal').find('.modal-body').html(data);
                    $('#deleteModal').modal('show');
                }
            });
        });

        $('#deleteModal').on("submit", 'form', function(e){
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url:$(this).attr('action'),
                method: "POST",
                data: formData,
                success: function (data) {
                    location.reload();
                }
            });
        });
    </script>
{% endblock %}